.imageUpload {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    margin: 10px auto;
}

.imageUpload__profile {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-start;
}

.imageUpload__avatar {
    margin-right: 10px;
}

.imageUpload__file {
    margin-bottom: 10px;
}

.imageUpload__caption {
    padding: 8px 10px;
}

.imageUpload__progress {
    width: 100%;
    height: 1.25rem;
    margin: 8px 0;
}